<rewrite>
            <rules>
                <rule name="RewriteSEO">
                    <match url="^((?!(bundles|scripts)).)*$" ignoreCase="true" />
				    <conditions logicalGrouping="MatchAny">  
                        <add input="{QUERY_STRING}" matchType="Pattern" ignoreCase="true" pattern="_escaped_fragment_="/>
                        <add input="{HTTP_USER_AGENT}" matchType="Pattern" ignoreCase="true" pattern="(baiduspider)|(facebookexternalhit)|(twitterbot)|(rogerbot)|(linkedinbot)|(embedly)|(quora link preview)|(showyoubot)|(outbrain)|(pinterest)|(google\\.com)|(slackbot)|(vkShare)|(W3C_Validator)|(redditbot)|(Applebot)|(WhatsApp)|(flipboard)|(tumblr)|(bitlybot)|(SkypeUriPreview)|(nuzzel)|(Discordbot)|(Google Page Speed)|(x\\-bufferbot)"/>
                    </conditions>
                    <action type="Rewrite" url="http://10.10.3.66:3000/http://{HTTP_HOST}{URL}" appendQueryString="false"/>
					<serverVariables>
						<set name="HTTP_X_PRERENDER_TOKEN" value="h2te9zJTvjbhy8dR575r" />
					  </serverVariables>
                </rule>
            </rules>
    </rewrite>    
