@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>User Agent: @Request.UserAgent</p>
<br />
<p class="timeout-target">Default Text.</p>
@section scripts{    
<script>
    $(function () {
        setTimeout(function () {
            $(".timeout-target").html("Use this area to provide additional information: " + new Date());
            $.prerenderReady();
        },10000);
    });
</script>
}